 #uploader_wrapper { width:450px; min-height:200px;  overflow:hidden; margin-top:100px;}
 #DropZone { height:100px; overflow:hidden; }	

 .DropZonee { border:solid 1px RGB(221,221,221); border-top:none; z-index:24243;}	
 
 #file-uploads{min-height:100px; list-style:none;margin:20px 0 0;padding:0; overflow:hidden;}
/*  #file-uploads li:first-child { border:2px dashed RGB(221,221,221); height:98px;} */
 #file-uploads li { position:relative; height:100px; width:100px; float:left;overflow:hidden;  margin-right:5px; }

#file-uploads li .remove,
#file-uploads li .NonBrowserRemove {

-webkit-border-radius: 2px;
-moz-border-radius: 2px;
border-radius: 99px;
color:#FFF;
background:#73A419;
height:11px;
width:11px;
text-align:center;
position:absolute; 
		text-shadow: 1px 1px 0 rgba(255,255,255,.4); 
	    font-family: "open sans";
font-size:11px;
z-index:22031; 
right:5px;
top:3px;
}

#file-uploads li .remove:hover,
#file-uploads li .NonBrowserRemove:hover  {cursor:pointer;  }

.preview{  }
.preview {  }
.preview img { width:100px;height:100px }
 
.fw { z-index:-1; display:none;}
#file-wrapper {
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  position: relative;
	width:100px;
	height:96px;
	border:1px  dashed RGB(221,221,221);
	margin-left:160px;
}
#file-wrapper input {
  cursor: pointer;
  height: 100%;
  filter: alpha(opacity=1);
  -moz-opacity: 0.01;
  opacity: 0.01;
  position: absolute;
  right: 0;
  top: 0;

}
#file-wrapper .button {

font-size:30px;
font-weight:bold;
color:RGB(221,221,221);
text-align:center;
margin-top:25px;

} 


#upload_cancel {
     visibility: hidden;
     position: absolute;
     left: 0px;
     top: 0px;
     width:100%;
     height:100%;
     text-align:center;
     z-index: 31000;
	 background:#444444;
	 opacity:.5;

}

#upload_cancel div {
     width:400px;
     margin: 100px auto;
     background-color: #FFF;
     border:1px solid #000;
     padding:15px;
     text-align:center;
	 color:#444;
	 border:1px solid #F8F8F8;
}


#percent {
    position: absolute; width: 40px; height: 14px; z-index: 1; text-align: center; font-size: 0.8em; color: white; left:85px;
}
#progress-bar {
    width: 200px; height: 14px;
    border-radius: 10px;
    border: 1px solid #CCC;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#6666cc), to(#4b4b95));
    border-image: initial;
display:none;
}
#uploaded {
    padding: 0;
    height: 14px;
    border-radius: 10px;
	margin-top:-1px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#66cc00), to(#4b9500));
	width:0%;
}

	.over {
        background: #ffffa2;
        border: 2px dashed #000;
    }


article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary{display:block}body{font:0.85em/1.2 "Open sans",Helvetica,Arial,sans-serfi;color:#555}h1{font-size:2em;padding:0 0 20px;margin:0 0 20px;border-bottom:solid 1px silver;

}
article{max-width:600px;min-width:320px;
position:relative;
overflow:hidden;
margin-left:30px;

}article>p{margin:0 0 20px;



}



.progress{
	width:0;z-index:2009;background-color:BLUE;position:absolute;top:0;left:0;bottom:0;
	
	-webkit-border-top-right-radius: 8px;
	-webkit-border-bottom-right-radius: 8px;
	       -moz-border-radius-topright: 8px;
	    -moz-border-radius-bottomright: 8px;
	           border-top-right-radius: 8px;
	        border-bottom-right-radius: 8px;
	    -webkit-border-top-left-radius: 20px;
	 -webkit-border-bottom-left-radius: 20px;
	        -moz-border-radius-topleft: 20px;
	     -moz-border-radius-bottomleft: 20px;
	            border-top-left-radius: 20px;
	         border-bottom-left-radius: 20px;
	background-color: rgb(43,194,83);
	
	background-image: -webkit-gradient(
	  linear,
	  left bottom,
	  left top,
	  color-stop(0, rgb(43,194,83)),
	  color-stop(1, rgb(84,240,84))
	 );
	background-image: -webkit-linear-gradient(
	  center bottom,
	  rgb(43,194,83) 37%,
	  rgb(84,240,84) 69%
	 );
	background-image: -moz-linear-gradient(
	  center bottom,
	  rgb(43,194,83) 37%,
	  rgb(84,240,84) 69%
	 );
	background-image: -ms-linear-gradient(
	  center bottom,
	  rgb(43,194,83) 37%,
	  rgb(84,240,84) 69%
	 );
	background-image: -o-linear-gradient(
	  center bottom,
	  rgb(43,194,83) 37%,
	  rgb(84,240,84) 69%
	 );
	-webkit-box-shadow: 
	  inset 0 2px 9px  rgba(255,255,255,0.3),
	  inset 0 -2px 6px rgba(0,0,0,0.4);
	-moz-box-shadow: 
	  inset 0 2px 9px  rgba(255,255,255,0.3),
	  inset 0 -2px 6px rgba(0,0,0,0.4);


height:20px;
top:20px;
width:50px;

}.complete .progress{ display:none;

	

}.error .progress{background-color:#CCC}






#DropZoneInfo { font-size:16px; position:absolute; z-index:2000;  top:40px; width:448px; height:60px; border:1px solid RGB(221,221,221); overflow:hidden; border-bottom:none; display:none;}
#DropZoneInfo div { margin-top:40px; margin-left:20%;}